
* {
    text-decoration: none;
    list-style: none;
}
header {
    height: 100px;
    width: 100%;
   background-color: #fff;
}
header .header-logo  {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: #111;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}
header nav ul {
    display: block;
    margin: 0 auto;
    width: fit-content;
}
header nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0 16px;
}
header nav ul li a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #111;
    text-transform: uppercase;
}
header .header-cases {
    display: none;
}

@media only screen and (min-width:1000px) {
    header .header-logo  {
        margin:31px 0;
        text-align: left;
         line-height: 38px;
        padding: 0px 20px 0px 40px;
        border-right: 3px solid #111;
        float: left;
    } 
     header nav ul {
        margin: 20px 0 0 20px;
        float: left;
    }
    header nav ul li a {
        line-height: 60px;
    }
    header .header-cases {
        display:block;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 16px;
        color: #111;
        text-transform: uppercase;
        line-height: 38px;
        border: solid 1px #111;
        float: right;
        margin-right: 40px;
        padding: 0 20px;
        margin-top: 30px;
    } 
}



/*INDEX*/
.index-banner {
    width: 100%;
    height:calc(100vh-100px);
    background-image: url('./prog.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}
.vertical-center {
   display: table-cell;
   vertical-align: middle; 
}
.index-banner h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 70px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
}

.index-banner h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    line-height: 40px;
    font-style: italic;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
}
.index-links div {
    margin-top: 16px;
    margin-bottom: 0;
    margin-left: 16px;
    margin-right: 16px;
    width: calc(100% - 32px);
    height: 100px;
    background-color:#f2f2f2;
    text-transform: uppercase;

}
.index-links div h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 100px;
    color: #111;
    text-align: center;
    margin-top: 40px ;
}

@media only screen and (min-width:1000px) {
    .index-banner {
        height:450px;
    }
    .index-banner h1{
        display: block;
        width: 560px;
        margin: 0 auto;
        }
    .wrapper {
            width: 1000px;
            margin: 0 auto;
        }
    .index-links{
        overflow: hidden;
        }
    .index-links div {
        margin-top: 20px;
        margin-bottom: 0;
        margin-left: 10px;
        margin-right: 10px;
        height: 230px;
        background-color:#afeeee;
        float: left;
    }
    .box-square {
        width: calc(25% - 20px) !important;
        background-color: bisque !important;
    }
    .box-rectangle {
        width: calc(50% - 20px) !important;
        background-color: aquamarine !important;
    }
    .index-links div h3 {
        line-height: 150px;
    }
    
}
/*CASES STYLING*/
.inde-links div {
    margin-top: 16px;
    margin-bottom: 0;
    margin-left: 16px;
    margin-right: 16px;
    width: calc(100% - 32px);
    height: 100px;
    border-radius: 30%;
    background-color:wheat;
    text-transform: uppercase;
    transition: all 1s ease;
}
.inde-links div:hover {
    transform: scale(0.9);
}
.inde-links div h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 100px;
    color: #111;
    text-align: center;
    margin-top: 40px ;
}

@media only screen and (min-width:1000px){
    .inde-links {
        overflow: hidden;
        margin-bottom: 20px;
         
     }
     .inde-links h3 {
         padding-top: 20%;
         font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
         font-size: 28px;
         font-weight: 600;
         line-height: 100px;
         color: #111;
         margin-top: 40px;
         text-transform: uppercase;
          
      }
     .inde-links .cases-link {
         float: left;
         width: 310px;
         height: 310px;
         margin: 20px 10px 0;
         border-radius: 0%;
         background-color: thistle;
     }
}
/*PORTFOLIO STYLING*/

.portfolio-links div {
    margin-top: 16px;
    margin-bottom: 0;
    margin-left: 16px;
    margin-right: 16px;
    width: calc(100% - 32px);
    height: 100px;
    background-color: #e3e3e3;
    text-transform: uppercase;
    transition: all 1s ease;
}
.portfolio-links div:hover {
    transform: scale(0.9);
}
.portfolio-links div h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 100px;   
    color: #111;
    text-align: center;
    margin-top: 40px ;
}

@media only screen and (min-width:1000px){
    .portfolio-links {
        overflow: hidden;
        margin-bottom: 20px;
         
     }
     .portfolio-links h3 {
         padding-top: 20%;
         font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
         font-size: 28px;
         font-weight: 600;
         line-height: 40px;
         color: #111;
         margin-top: 40px;
         text-transform: uppercase;
          
      }
     .portfolio-links .portfolio-link {
         float: left;
         width: 310px;
         height: 310px;
         margin: 20px 10px 0;
         border-radius: 0%;
         background-color: thistle;
     }
}


/*CASE*/
.cases-img h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    color: #111;
    text-transform: uppercase;
}
.cases-img img {
    display: block;
    margin: 0 auto;
    padding: 0px 0px;
    width: calc(100vw - 32px);
    border: none ;
}
.cases-img article h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    color: #111;
    margin-top: 40px ;
    text-transform: uppercase;
}
.cases-img article p {
    font-family: courier;
    font-size: 16px;
    line-height: 24px;
    color: #111;
    text-transform:  uppercase;
    column-count: 3;
    column-gap: 30px;

}
@media only screen and (min-width:1000px) {
    .cases-img img {
        display: block ;
        margin: 0 auto;
        padding: 0p 0;
        width: fit-content;
        border: none ;
    }  
}

/*CONTACT*/
.contact {
    width: calc(100% - 40px);
    padding:10px 20px;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 0;
    background-color:#e3e3e3;
    
}
.contact h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
    color: #111;
    text-align: center;
    text-transform: uppercase;
}
 .contact p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: #111;
    text-align: center;
}
/*FOOTER STYLING*/
footer {
    width: calc(100% - 80px);
    padding:40px 40px;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 0;
    background-color: #111;
    overflow: hidden;

}
footer ul{
   width: fit-content;
   float: left;
   padding-left: 20px;
  
}
footer ul li{
display: block;
list-style: none;
 }
 footer ul li a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: #fff;
    line-height: 40px;
 }
.cases-links {
    display: none;
}
.footer-sm {
width: 50px;
float: right;
padding-top: 30px;
}
.footer-sm img {
    width: 100%;
    margin-bottom:20px ;
    border-radius: 50%;
}

@media only screen and (min-width:1000px) {
    .cases-links {
        display:block;
    }
    footer ul {
        padding-right: 30px;
    }

 footer ul li p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: #fff;
    line-height: 0px;
    }
}

/*PORTFOLIO CSS GRID STYLING*/
.container {
    display: block;
    margin: 0 auto;
    width: calc(100% - 32px);
}
.case-img img {
    display: block;
    margin: 0 auto;
    padding: 0px 0px;
    width: calc(100vw - 32px);
    border: none ;
}
@media only screen and (min-width:1000px) {  
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)) ;
        grid-template-rows: 1fr ;
        width: fit-content;
        margin: 0 auto;
        background-image: none ;
    }
    .case-img img {
        display: none;
    }
    .zone {
        width: 200px;
        height: 200px;
        transition: all 1s ease;
    }
    .zone:hover {
       transform: scaleY(1.1);
    }
    
    
    .era {
        margin: 5px 5px;
        background-color: crimson;
        width: 420px;
        height: 420px;
        grid-column: 2/4;
        grid-row: 2/4;
    
    }
    .way {
        margin: 5px 5px;
        background-color:burlywood;
        grid-column: span 1;
        grid-row: 3/3;
    }
    .day {
        margin: 5px 5px;
        background-color: chartreuse;
        grid-column: span 1;
        grid-row: 1/1;
    }
    .ace {
        margin: 5px 5px;
        background-color: coral;
    }
    .bae {
        margin: 5px 5px ;
        background-color: yellow;
        grid-column: 1/1;
        grid-row: 2/2;
    }
}
 h2 {
    padding-top: 1%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    color: #111;
    margin-top: 0 auto;
    text-transform: uppercase;
     
 }

